<div class="row">
    <div class="col-lg-12 container-fluid" style="padding:0; margin-top:0.15rem; height: 69vh; background: url(../../../assets/images/homebg.jpg);background-size: cover;">
        <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 pt-4 my-auto" style="height:10em; padding-top: 8rem !important; padding-left: 3rem;">
            <h1 class="font-weight-bold text-white heading">Pratian Assessment Framework</h1>
            <button type="button" class="btn btn-warning">Explore</button>
        </div>
    </div>
</div>